<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @job.date %>
</p>

<p>
  <strong>Hours:</strong>
  <%= @job.hours %>
</p>

<p>
  <strong>Tip:</strong>
  <%= @job.tip %>
</p>

<p>
  <strong>Total:</strong>
  <%= @job.total %>
</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
